In [1]:
import pandas as pd

In [5]:
data = pd.DataFrame(
    {
        "feature1": [1, 2, 3, None, 2],
        "feature2": ["A", "B", "C", "D", "B"],
    }
)

In [6]:
data

   feature1 feature2
0       1.0        A
1       2.0        B
2       3.0        C
3       NaN        D
4       2.0        B

In [7]:
data.shape

(5, 2)

In [8]:
cleaned_data = data.drop_duplicates()
cleaned_data

   feature1 feature2
0       1.0        A
1       2.0        B
2       3.0        C
3       NaN        D

In [9]:
cleaned_data.shape

(4, 2)

In [11]:
cleaned_data.isnull().sum()

feature1    1
feature2    0
dtype: int64

In [12]:
cleaned_data.shape[0]

4