In [2]:
import pandas as pd
import numpy as np

In [2]:
aplus_df = pd.read_csv(
    "/Users/thobelasixpence/Documents/mlops-zoomcamp-project-2024/MLOps-hotel-reservation-prediction-system/data/raw/aplus_transactions.csv"
)
bill_df = pd.read_csv(
    "/Users/thobelasixpence/Documents/mlops-zoomcamp-project-2024/MLOps-hotel-reservation-prediction-system/data/raw/bill_payments.csv"
)
laybye_df = pd.read_csv(
    "/Users/thobelasixpence/Documents/mlops-zoomcamp-project-2024/MLOps-hotel-reservation-prediction-system/data/raw/layby_transactions.csv"
)
online_payments_df = pd.read_csv(
    "/Users/thobelasixpence/Documents/mlops-zoomcamp-project-2024/MLOps-hotel-reservation-prediction-system/data/raw/online_payment_transactions.csv"
)
vcs_df = pd.read_csv(
    "/Users/thobelasixpence/Documents/mlops-zoomcamp-project-2024/MLOps-hotel-reservation-prediction-system/data/raw/vcs_transactions.csv"
)
voucher_df = pd.read_csv(
    "/Users/thobelasixpence/Documents/mlops-zoomcamp-project-2024/MLOps-hotel-reservation-prediction-system/data/raw/voucher_transactions.csv"
)

In [ ]:
def list_columns_in_df(df: pd.DataFrame, df_name: str) -> None:
    print(f"columns in {df_name}:")
    full_column_string: str = ""
    for col in df.columns:
        full_column_string += f" | {col}"
    print(full_column_string)


# def list_columns_first_n_rows

In [9]:
aplus_df.sample(2)

,id,user_id,transaction_type_id,account_number,amount,reference,response_code,response_description,last_updated,reference_id,...,guid,channel_id,country,subsidiary_id,company_id,institution_id,provider_id,tracking_id,rec_number,external_reference_number
47,32113,anon,8,A+APPLICATION,0,NaN,NaN,NaN,2025-06-06 09:20:33,0208940400000287494ZA01001001420250606,...,8C6F7FB6-7F6C-48EE-8A3E-66671608E9FC,1,ZA,2,1,0,0,0,0,NaN
53,32107,anon,8,A+APPLICATION,0,NaN,NaN,NaN,2025-06-06 09:12:17,0207810100000453736ZA01001001420250606,...,C169AE14-4531-4C96-B9B0-5799F904D93C,1,ZA,2,1,0,0,0,0,NaN

In [10]:
bill_df.sample(2)

,id,AccountNo,Amount,fee,Total,ProviderNo,InstitutionNo,ProductNo,ClubCardNo,TerminalId,...,AccountStatus,FirstName,LastName,PartPaymentAllowed,Message,SlipMessage,SwitchResponseCode,SwitchTransactionId,CallCentre,AggregatorId
16,3870515,9501281028082,12800,0.0,NaN,49,8007,27265,NaN,1595201,...,A,Tsholofelo Lydia,Mokwena,1,Payment submitted successfully.,Payment submitted successfully.,0.0,6842a8d8afd489e22ec7a53a,NaN,NaN
55,3870554,6803015780084,18000,0.0,NaN,49,8007,27265,NaN,1493303,...,A,Magage,Phasha,1,Payment submitted successfully.,Payment submitted successfully.,0.0,6842a8deafd489e22ec7a5bc,NaN,NaN

In [11]:
laybye_df.sample(2)

,id,transaction_state_id,transaction_state,account_number,amount,response_code,response_description,last_updated,reference_id,tender_type_id,...,guid,transaction_guid,channel_id,country_code,subsidiary_id,rec_number,store_date,cashier,round_amount,transaction_type
159,5720780,15,Layby Auth,2085706250792036862,20000,0.0,Approved,2025-06-06 08:40:59,28576246683409739,1,...,2E44F7CC-5FF7-498F-B1E7-7F8389762098,NaN,3,ZA,2,409739,2025-06-06 10:41:18,329841,0,LBRE
81,5719743,15,Layby Auth,2103614251118629663,66455,0.0,Approved,2025-06-06 08:33:42,210369431910730787,1,...,DCE9E4F5-A1A5-4F69-8FE3-22EB5987C7E0,NaN,3,ZA,2,730787,2025-06-06 10:46:01,58676,0,LBPA

In [12]:
online_payments_df.sample(2)

,id,account_number,amount,channel,channel_id,company_id,country,external_reference_number,guid,institution_id,...,store_number,subsidiary_id,tender_type_code,tender_type,till_number,tracking_id,transaction_id,transaction_state_id,user_account_id,user_id
398,92631581,9113800011062186,500000,GPOS,1,1,ZA,2208059287707609,BB1F5503-24F2-4D4A-ABFE-E5F4A7380B74,1033,...,8375,1,NaN,NaN,3,2208059287707609,946356810.0,7,0,ANON
81,92631898,11734250028957,11070,GPOS,1,1,ZA,4094573246347576,892F90B3-1B44-4CCA-BC99-CBDFD9BD803A,3074,...,6540,1,NaN,NaN,5,4094573246347576,946357129.0,7,0,ANON

In [13]:
vcs_df.sample(2)

,id,providerNo,institutionNo,productNo,amount,terminalId,merchantId,recordNo,cashier,cashierName,...,saleNo,companyNo,expiryDate,pin,serialNumber,responseCode,responseMessage,reference,transactionId,type
12,147758,25001,25004,25007,100,2157404,20107101574,210511,NaN,NaN,...,131205,2,2028-06-06 08:26:53,1119398487814236,20250606082619763434,0,Success,D241B54C-C576-4524-96EC-C007B8EA7373,465817250,ADVICE
107,147853,25002,25034,25158,100,2120103,20107101201,338844,NaN,NaN,...,392550,2,2028-06-06T07:10:30.307Z,011938164049546,138939996,0,NaN,B231A8F7-2893-4195-815F-B4784FB0B3A5,B231A8F7-2893-4195-815F-B4784FB0B3A5,AUTH

In [14]:
voucher_df.sample(2)

,id,transaction_state_id,contact_number,amount,response_code,response_description,last_updated,reference_id,tender_type_id,store_number,till_number,sale_number,transaction_guid,channel_id,country_code,subsidiary_id,rec_number,store_date,transaction_state,cashier
92,168761,34,676291984,110,0.0,Approved - Voucher Created,2025-06-05 15:51:33,211786534663471321,1,1178,6,534663,346208F4-BE28-46E0-AA05-DB2F1A5C6CBD,1,ZA,2,471321,NaN,NaN,NOMAZULU
474,169143,34,734495303,160,0.0,Approved - Voucher Created,2025-06-05 16:43:52,211531252665335190,1,1153,1,252665,BDC7348E-61BA-49B9-B095-372FFC2954F7,1,ZA,2,335190,NaN,NaN,LWANDO

In [3]:
ackermans_app_df = pd.read_csv(
    "/Users/thobelasixpence/Documents/mlops-zoomcamp-project-2024/MLOps-hotel-reservation-prediction-system/data/raw/ackermans_application_log.csv"
)
third_party_df = pd.read_csv(
    "/Users/thobelasixpence/Documents/mlops-zoomcamp-project-2024/MLOps-hotel-reservation-prediction-system/data/raw/third_party_applications.csv"
)

In [4]:
ackermans_app_df.sample(2)

,id,id_number,id_type,id_country,country_code,store_number,till_number,sale_number,name,surname,contact_number,result,result_description,institution_number,provider_number,application_type,application_date,guid,cashier,subsidiary_id
5,32268,86952617,B,BW,BW,2029,3,37065,SHELLY,VICTOR,77969383,Continue,Continue with new application.,15,14,B1,2025-06-06 10:24:00,1D33675A-5706-4FA9-9F14-8DB6DC164701,110510,2
54,32219,9201016491081,I,ZA,ZA,1351,1,240264,TSHILIDZI,MONYAI,609351962,Reject,Application in decline status exist.,-1,14,P1,2025-06-06 09:01:10,755BB3F7-2409-4FA8-9FC0-A02773BBE2B8,030538,2

In [5]:
third_party_df.sample(2)

,id,transaction_id,user_id,id_number,id_type,id_country,id_scanned,gross_monthly_income,name,surname,dob,canvasser_code,contact_number,status,external_application_id,outcome,message,transaction_date
36,32139,32139,anon,6412145163086,I,ZA,Y,2194.33,MERVIN,PLAATJIES,1964-12-14,153337,785739557,NaN,NaN,NaN,NaN,2025-06-06 10:00:34
22,32153,32153,anon,86952617,B,BW,Y,2915.00,SHELLY,VICTOR,1988-05-09,F00296,77969383,NaN,NaN,NaN,NaN,2025-06-06 10:23:59